.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  position: relative;
  display: flex;
  float: none;
  clear: right;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

.container {
  display: block;
  width: auto;
  max-width: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.heading-jumbo {
  padding: 113px 91px 113px 458px;
  font-size: 15px;
}

.paragraph-tiny {
  display: inline-block;
  padding-left: 12px;
  opacity: 0.3;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-speaking-label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4a6eff;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.paragraph-light {
  padding-right: 0px;
  opacity: 0.8;
  font-family: Inconsolata, monospace;
  color: #010530;
  font-size: 18px;
  line-height: 22px;
}

.my-story {
  margin-top: -70px;
  padding-top: 0px;
  padding-bottom: 180px;
  padding-left: 90px; right: 90 px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}
.my-story2 {
  margin-top: -70px;
  padding-top: 0px;
  padding-bottom: 180px;
  padding-right: 90 px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}


.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.nav-link-home {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #0e0532;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*DROP DOWN*/

.nav-drop {
  padding: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #e8e5f5;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  float: right;

  
}

.nav-dropW {
  padding: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #010630;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  float: right;

  
}

.nav-holder{
  position: absolute;
  list-style: none;
  padding: 0px 10px 0px 0px;
  display: none;
  opacity: 0%;
  top: 80px;

}

.nav-link-home:hover {
  opacity: 0.9;
  color: #a6a3c2;
}

.nav-link-home:active {
  opacity: 0.8;
  color: #a6a3c2;
}

.nav-link-home.w--current {
  opacity: 1;
  color: #010530;
  font-weight: 500;
}

.nav-link-home.w--current:hover {
  opacity: 0.8;
  color: #a6a3c2;
}

.nav-link-home.w--current:active {
  opacity: 0.7;
  color: #a6a3c2;
}

.navigation-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  opacity: 1;
}

.navigation-items:active {
  color: #ddb1e7;
}

.navigation {
  display: flex;
  padding: 30px 50px;
  align-items: center;
  background-color: rgba(212, 218, 255, 0);
  opacity: 1;
  color: #010530;
}

.navigation:active {
  color: #f2d9f8;
}

.logo-image {
  display: block;
  max-width: 120px;
  padding-right: 0px;
  padding-left: 0px;
  color: #fff;
}

.navigation-wrap {
  display: flex;
  margin-top: -60px;
  margin-right: -20px;
  padding-top: 0px;
  align-items: center;
  color: #000;
}

.navigation-wrap:hover {
  color: #241a72;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.footer-wrap {
  position: relative;
  display: flex;
  padding: 40px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0f1d;
  color: #0b0e1d;
}

.footer-links {
  display: flex;
  margin-right: -20px;
  align-items: center;
  opacity: 0.75;
  color: #fff;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.65;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.about-intro-grid {
  margin-top: 100px;
  margin-bottom: 140px;
  align-items: center;
  grid-column-gap: 56px;
  grid-row-gap: 30px;
  grid-template-areas: ". Area";
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: auto;
}

.hi-there-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4a6eff;
  font-weight: 700;
}

.skillset-wrap {
  padding-right: 60px;
}

.featured-item-wrap {
  margin-bottom: 25px;
}

.skills-grid {
  margin-bottom: 30px;
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  grid-template-columns: 5fr 0.25fr;
  grid-template-rows: auto;
}

.personal-features-grid {
  margin-bottom: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "." "." "." "Area";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.speaking-text {
  display: inline-block;
  margin-right: 8px;
  font-family: Montserrat, sans-serif;
  color: rgba(3, 4, 14, 0.8);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.speaking-detail {
  display: inline-block;
  opacity: 0.6;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #0016ff;
  font-size: 21px;
  font-weight: 700;
}

.upcoming-wrap {
  margin-bottom: 40px;
  text-align: left;
}

.detail-header-image {
  width: 100%;
  padding-top: 0px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 50px;
}

.email-section {
  width: 70%;
  margin: 140px auto 200px;
  text-align: center;
}

.email-link {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 88px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.email-link:hover {
  opacity: 0.8;
}

.email-link:active {
  opacity: 0.7;
}


.heading {
  position: relative;
  left: auto;
  z-index: 10;
  display: flex;
  width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 12px;
  justify-content: flex-start;
  align-items: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  font-weight: 700;
}

.paragraph {
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  display: block;
  width: 40vw;
  margin-bottom: auto;
  padding-top: 0px;
  padding-right: 55px;
  justify-content: center;
  align-items: center;
  align-self: auto;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.body {
  padding-bottom: 0px;
  background-color: #f0f3ff;
  color: #dfdfdf;
}

.image {
  position: relative;
  top: auto;
  bottom: auto;
  z-index: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  float: left;
  clear: right;
  align-self: center;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
  box-shadow: 0 0 20px -17px #000;
  opacity: 0.72;
  font-size: 16%;
  font-weight: 400;
}

.intro-section {
  position: relative;
  z-index: -1;
  margin-bottom: 230px;
  background-color: transparent;
  opacity: 1;
}

.bg-holder {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  margin-right: auto;
  margin-left: auto;
  background-color: #07080e;
  opacity: 1;
}

.bg1 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #07080e;
  opacity: 1;
}

.div-block {
  position: relative;
  left: 44.4%;
  top: 185px;
  z-index: 3;
  display: flex;
  overflow: visible;
  width: 40%;
  float: none;
  clear: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  left: -110px;
  top: -482px;
  bottom: 423px;
  width: 2px;
  height: 400px;
  float: right;
  background-color: #797979;
  color: #dad6d6;
}

.div-block-2 {
  position: relative;
  left: -13%;
  top: -205.9px;
  bottom: auto;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #7881a2;
  opacity: 0.39;
}

.text-block {
  position: relative;
  left: auto;
  top: -264px;
  display: flex;
  width: 90px;
  float: right;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: rotate(90deg);
  direction: ltr;
  color: #7881a2;
  font-size: 13px;
  font-weight: 500;
  text-shadow: 1px 1px 6px #000;
  column-count: 1;
  white-space: normal;
}

.grid-2 {
  position: relative;
  padding-top: 100px;
  padding-right: 15%;
  padding-left: 15%;
  justify-content: center;
  align-content: center;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(auto-fit, 50%) 50%;
  grid-template-rows: 400% 400%;
  background-color: transparent;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transform: translate(0px, 0px);
  transition: opacity 400ms ease;
}

.project:hover {
  background-color: #000;
  opacity: 1;
  transform: none;
}

.link-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-top: 20px;
  padding-right: 23px;
  padding-left: 23px;
  align-items: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.link-2:hover {
  padding-top: 20px;
  flex-direction: row;
  align-items: center;
  opacity: 1;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.grid-3 {
  height: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  grid-template-areas: "Area";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.div-block-7 {
  position: relative;
  left: auto;
  top: -176px;
  z-index: -1;
  display: flex;
  width: 38vw;
  height: 43vw;
  margin-top: auto;
  margin-left: 12.2%;
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;;
  grid-template-rows: auto auto;
}

.project-line {
  flex: 0 auto;
}

.image-2 {
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.27;
}

.link-4 {
  display: inline-block;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #dfdfdf;
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
  text-indent: 0px;
}

.text-span-2 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4a6eff;
  font-size: 19px;
}

.bold-text {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #496eff;
  font-size: 19px;
}

.bold-text-4 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #496eff;
}

.text-span-5 {
  color: #dfdfdf;
}

.navigation-items-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  opacity: 1;
}

.navigation-items-copy:active {
  color: #ddb1e7;
}

.nav-link-home-copy {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #0e0532;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link-home-copy:hover {
  opacity: 0.9;
  color: #a6a3c2;
}

.nav-link-home-copy:active {
  opacity: 0.8;
  color: #a00044;
}

.nav-link-home-copy.w--current {
  opacity: 1;
  color: #fff;
  font-weight: 500;
}

.nav-link-home-copy.w--current:hover {
  opacity: 0.8;
  color: #a6a3c2;
}

.nav-link-home-copy.w--current:active {
  opacity: 0.7;
  color: #a6a3c2;
}

.nav-link-home-copy {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #0e0532;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link-home-copy:hover {
  opacity: 0.45;
  color: #a6a3c2;
}

.nav-link-home-copy:active {
  opacity: 0.8;
  color: #a00044;
}

.nav-link-home-copy.w--current {
  opacity: 1;
  color: #fff;
  font-weight: 500;
}

.nav-link-home-copy.w--current:hover {
  opacity: 0.8;
  color: #a6a3c2;
}

.nav-link-home-copy.w--current:active {
  opacity: 0.7;
  color: #a6a3c2;
}

.navbar {
  background-image: linear-gradient(180deg, #d5ddff, #f0f3ff);
}

.block-quote {
  display: inline-block;
  margin-top: 30px;
  padding-right: 15%;
  padding-left: 15%;
  opacity: 0.67;
  font-family: Montserrat, sans-serif;
  color: #010530;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.projects {
  display: block;
  padding-top: 0px;
  padding-bottom: 260px;
  padding-left: 9px;
  background-color: transparent;
  opacity: 1;
}

.blog-posts {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.div-block-11 {
  padding-top: 36px;
  padding-bottom: 36px;
  border: 20px none #000;
  background-color: #d5ddff;
  box-shadow: 1px 1px 20px 0 #dfe6ff;
}

.image-3 {
  box-shadow: 0 0 11px 5px #ddd;
}

.body-2 {
  background-color: #f0f3ff;
}

.heading-5 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4a6eff;
  font-weight: 700;
}

.heading-6 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: auto;
  font-family: Montserrat, sans-serif;
  color: rgba(0, 30, 151, 0.51);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.text-span-8 {
  letter-spacing: 1px;
}

.list-item {
  text-align: left;
}

.list {
  text-align: left;
}

.skill-list {
  display: inline-block;
  margin-right: 0px;
  font-family: Montserrat, sans-serif;
  color: rgba(3, 4, 14, 0.8);
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.div-block-12 {
  text-align: left;
}

.grid-7 {
  padding-left: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.hey-there {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hey-there.cc-about-light {
  opacity: 0.6;
  font-family: Inconsolata, monospace;
  color: #1a1b1f;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.list-2 {
  margin-top: 0px;
  font-size: 20px;
}

.my-story-copy {
  margin-top: -70px;
  padding-top: 0px;
  padding-bottom: 180px;
  padding-left: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.div-block-17 {
  display: inline-block;
  width: 100px;
  height: 1px;
  align-items: center;
  background-color: #8e9fd6;
}

.grid-9 {
  padding-bottom: 16px;
  grid-column-gap: 34px;
  grid-template-columns: 0.25fr 3fr;
  grid-template-rows: auto;
}

.grid-9-copy {
  padding-bottom: 16px;
  grid-column-gap: 12px;
  grid-template-columns: 0.25fr 3fr;
  grid-template-rows: auto;
}

.body-3 {
  background-color: transparent;
}

.image-6 {
  position: static;
  padding-right: 0px;
  padding-left: 0px;
}

.my-story-copy {
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.my-story-copy {
  margin-top: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.grid-10 {
  padding: 150px 150px 0px;
  grid-column-gap: 18px;
  grid-row-gap: 17px;
  grid-template-areas: ".";
  grid-template-columns: 1fr 0.75fr 0.25fr;
  grid-template-rows: auto;
}

.text-block-6 {
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
}

.grid-11 {
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 1fr;
  font-size: 15px;
}

.grid-12 {
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 1fr;
}

.text-block-7 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 52px;
  font-family: Inconsolata, monospace;
  text-align: right;
}

.projectline {
  padding-top: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: rgba(1, 5, 48, 0.43);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}


.text-block-14 {
  font-family: Inconsolata, monospace;
  text-align: right;
}

.backg {
  padding-top: 0px;
  padding-bottom: 18px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #010530;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}

.text-block-15 {
  line-height: 28px;
  text-transform: capitalize;
}

.grid-13 {
  padding-right: 182px;
  padding-left: 150px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.image-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.image-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.text-block-16 {
  font-family: Inconsolata, monospace;
  line-height: 28px;
  text-transform: capitalize;
}

.backg-copy {
  display: flex;
  padding-top: 122px;
  padding-bottom: 18px;
  justify-content: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #010530;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}

.my-story-copy {
  display: flex;
  width: 70%;
  margin-top: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  justify-content: center;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.detail-image-copy {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-right: 300px;
  padding-left: 300px;
}

.paragraph-3 {
  font-family: Inconsolata, monospace;
}

.heading-11 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  font-weight: 700;
}

.image-9 {
  display: inline-block;
  text-align: left;
}

.image-10 {
  display: inline-block;
}

.div-block-19 {
  display: flex;
  padding-right: 300px;
  padding-left: 300px;
  justify-content: center;
}

.projectline-copy {
  padding-top: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: rgba(1, 5, 48, 0.43);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.projectline-copy {
  padding-top: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: rgba(1, 5, 48, 0.43);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.projectline-copy {
  padding-top: 0px;
  padding-left: 150px;
  font-family: Montserrat, sans-serif;
  color: rgba(1, 5, 48, 0.43);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}




@media (max-width: 991px) {
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
  .label.cc-speaking-label {
    text-align: center;
  }
  .button {
    justify-content: center;
  }
  .logo-link.w--current {
    flex: 1;
  }
  .menu-icon {
    position: relative;
    top: 24px;
    display: block;
    border: 1px solid transparent;
  }

  .nav-clicked{
    opacity: 100%;
    display: block;
    transition:transform 0.2s ease-in;
  }
 
  .nav-link-home {
    padding: 15px 30px;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .nav-link-home:hover {
    background-color: #f7f8f9;
  }
  .nav-link-home:active {
    background-color: #eef0f3;
  }
  .navigation-items {
    background-color: hsla(0, 0%, 100%, 0);
  }
  .navigation {
    padding: 25px 30px;
  }
  .menu-button {
    padding: 0px;
    
  }

  .menu-button:hover {
    opacity: 0.7;
    
  }


 
  .navigation-wrap {
    margin-right: 0px;
  }
  .about-intro-grid {
    padding-right: 50px;
    padding-left: 40px;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
  .about-head-text-wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .skillset-wrap {
    padding-right: 0px;
  }
  .skills-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .personal-features-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "." "." "." ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    text-align: center;
  }
  .speaking-detail {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
  }
  .upcoming-wrap {
    text-align: left;
  }
  .email-section {
    margin-bottom: 160px;
  }
  .email-link {
    font-size: 36px;
    line-height: 54px;
  }
  .heading {
    position: static;
    left: 357px;
    top: 205px;
    bottom: -204px;
    width: 50vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0%;
    padding-left: 0%;
  }
  .paragraph {
    position: static;
    left: 353px;
    top: 205px;
    right: 0px;
    z-index: 1;
    width: 50vw;
    margin-bottom: 0px;
    padding-left: 0%;
  }
  .image {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .div-block {
    left: 48.4%;
    top: 191px;
    width: 50%;
    padding-top: 0px;
  }
  .line {
    left: -91.8vw;
    top: -12.9px;
  }
  .grid-2 {
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }
  .div-block-7 {
    position: relative;
    left: auto;
    top: -142px;
    display: flex;
    width: 43vw;
    height: 45vw;
    margin-top: 63px;
    margin-left: 7.2%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navigation-items-copy {
    background-color: hsla(0, 0%, 100%, 0);
  }
  .menu-icon-copy {
    position: relative;
    top: 24px;
    display: block;
    border: 1px solid transparent;
  }
  .nav-link-home-copy {
    padding: 15px 30px;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .nav-link-home-copy:hover {
    background-color: #f7f8f9;
  }
  .nav-link-home-copy:active {
    background-color: #eef0f3;
  }
  .nav-link-home-copy {
    padding: 15px 30px;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .nav-link-home-copy:hover {
    background-color: #f7f8f9;
  }
  .nav-link-home-copy:active {
    background-color: #eef0f3;
  }
  .block-quote {
    text-align: center;
  }
  .list-item {
    text-align: center;
  }
  .skill-list {
    text-align: center;
  }
  .div-block-12 {
    text-align: left;
  }
  .grid-7 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .hey-there.cc-about-light {
    text-align: center;
  }
  .list-item-2 {
    text-align: center;
  }
  .list-item-3 {
    text-align: center;
  }
  .list-item-4 {
    text-align: center;
  }
  .list-item-5 {
    text-align: center;
  }
  .list-item-6 {
    text-align: center;
  }
  .list-item-7 {
    text-align: center;
  }
  .list-item-8 {
    text-align: center;
  }
  .list-item-9 {
    text-align: center;
  }
  .list-item-9.list-item {
    text-align: center;
  }
  .list-item-9.list-item.list-item-2.list-item-3 {
    text-align: center;
  }
  .list-item-10 {
    text-align: center;
  }
  .list-item-11 {
    text-align: center;
  }
  .list-item-12 {
    text-align: center;
  }
  .list-item-13 {
    text-align: center;
  }
  .list-item-14 {
    text-align: center;
  }
  .list-item-15 {
    text-align: center;
  }
  .list-item-16 {
    text-align: center;
  }
  .list-item-18 {
    text-align: center;
  }
  .grid-9 {
    grid-column-gap: 17px;
    grid-template-columns: 1fr 1fr;
  }
  .grid-9-copy {
    margin-right: 73px;
    margin-left: 73px;
    grid-column-gap: 17px;
    grid-template-columns: 1fr 1fr;
  }
  .grid-10 {
    grid-auto-flow: row;
    grid-column-gap: 21px;
    grid-row-gap: 21px;
  }
  .text-block-7 {
    padding-left: 100px;
  }
 
}

@media (max-width: 767px) {
  .container {
    text-align: center;
  }
  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }
  .paragraph-light {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-story {
    margin-right: 15px;
    margin-left: 15px;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .navigation {
    padding: 20px 30px;
  }
  .footer-wrap {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .about-head-text-wrap {
    width: 70%;
    max-width: 470px;
  }
  .skills-grid {
    width: 70%;
    max-width: 470px;
    grid-template-columns: 1fr;
  }
  .personal-features-grid {
    width: 70%;
    max-width: 470px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .detail-image {
    margin-bottom: 15px;
  }
  .email-section {
    width: 80%;
    max-width: 470px;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .email-link {
    font-size: 36px;
    line-height: 54px;
  }
 
 
  .heading {
    width: 60vw;
    justify-content: center;
    align-self: center;
  }
  .paragraph {
    display: block;
    width: 65vw;
    padding-top: 37px;
    padding-right: 13px;
    padding-left: 13px;
    align-self: center;
  }
  .image {
    position: static;
    align-self: center;
  }
  .div-block {
    position: relative;
    left: auto;
    top: 96px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 0px;
    text-align: center;
  }
  .line {
    left: auto;
    top: 309px;
    display: flex;
    height: 350px;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-block {
    left: auto;
    top: -273px;
  }
  .grid-2 {
    grid-auto-flow: row dense;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-template-rows: minmax(30px, 1fr) minmax(30px, 335px);
  }
  .div-block-7 {
    position: relative;
    top: -234px;
    display: none;
    width: 100%;
    margin: auto;
    padding-right: 76px;
    padding-left: 76px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project-line {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-span-2 {
    display: inline-block;
    align-self: auto;
  }
  .projects {
    margin-right: 15px;
    margin-left: 15px;
  }

  .my-story-copy {
    margin-right: 15px;
    margin-left: 15px;
  }

  .detail-image-copy {
    margin-bottom: 15px;
  }
  
}

@media (max-width: 479px) {
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-wrap {
    flex-direction: column;
  }
  .footer-links {
    padding-top: 26px;
  }
  .about-head-text-wrap {
    width: 100%;
    max-width: none;
  }
  .skills-grid {
    width: 100%;
    max-width: none;
    grid-template-columns: 1fr;
  }
  .personal-features-grid {
    width: 100%;
    max-width: none;
  }
  .email-section {
    display: flex;
    width: 100%;
    max-width: none;
    flex-direction: column;
    align-items: center;
  }
  .email-link {
    font-size: 30px;
    line-height: 46px;
  }
  .heading {
    width: 90vw;
  }
  .paragraph {
    display: block;
    width: 90vw;
    line-height: 22px;
    font-weight: 400;
  }
  .div-block {
    top: 76px;
  }
 
  .grid-2 {
    grid-row-gap: 30px;
  }
  .link-2 {
    font-size: 30px;
  }
  .project-line {
    position: relative;
    top: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-4 {
    display: inline;
  }
  .text-span-2 {
    display: inline;
  }